* { box-sizing: border-box; }

body { font-family: sans-serif; }

.title{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 36.4px;
    font-family: 'Fira Sans', sans-serif;
}

a:hover{
    color:#548eaa ;
}


